body {
    background-color: $body-bg;
}
.navbar {
    background-color: $navbar-bg;
    .site-name {
        font-size: 1rem !important;
    }
}
.links {
    background-color: unset !important;
}
.sidebar {
    /* background-color: #CABCB6; */
    background-color: $body-bg;
}

.home {
    .hero {
        #main-title {
            font-size: 2rem !important;
        }
        .description {
            // display: none;
            font-size: 1.2rem !important;
        }
        img {
            border-radius: 8px;
        }
    }
    .video-container {
        display: flex;
        justify-content: center;
        margin: 24px 0;
    }
}

a.button {
    padding: 8px 16px;
    background-color:$green-bright;
    border: none;
    margin: 0 0.3em 0.3em 0;
    border-radius: 4px;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 400;
    color: #fff;
    text-align: center;
    transition: all 0.2s;
    &:hover {
        background-color: darken($green-bright, 15%);
        text-decoration: none !important;
    }
}
