body {
    /* background-color: #f9f9d5; */
}
.navbar {
    background-color: #7bb05c;
}
.links {
    background-color: unset !important;
}
.sidebar {
    /* background-color: #CABCB6; */
}

.home .hero h1 {
    font-size: 2rem !important;
}