// colors
$accentColor = #367b3b;
$textColor = #343f2a;
$borderColor = #343f2a;
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

$green-bright = #7bb05c;
$body-bg = #f5f6ce;
$navbar-bg = #367b3b;

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

$new-orange = #cc5422