// colors
$accentColor = #367b3b;
$textColor = #343f2a;
$borderColor = #343f2a;
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

$green-bright = #7bb05c;
$body-bg = rgb(244, 239, 234);
$navbar-bg = #367b3b;

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 960px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

$new-orange = #cc5422

// new layout
$green-dark = #343F2A;
$green-medium = #455239;
$green-light = #448166;
$yellow = #FDC639;
$orange = #F67328;
$purple = #71367A;
$brown = #AF8D67;
$beige = #F6F2EE;

$button-bg = #cc5422;

// ---- Current layout ----
$primary-dark = #343F2A;
$secondary-dark = #455239;

$primary-light = #448166;
$secondary-light = #F6F2EE

